
.navbar-nav a {
  color: #f5f1f0;
  font-size:x-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.navbar-nav a:hover {
    color: #ef0f0f;
    
  }

.dropdown-menu {
    background-color: rgb(100, 231, 181);
}

.dropdown-menu a {
    color:#f5f1f0;
}
.dropdown-menu a:hover {
    color:#ef0fe4;
    background-color: rgb(100, 231, 181);
}

body{
  background: rgba(247, 159, 220, 0.986);
  width: 1400px;
  height: 3100px;
}   


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}