<router-outlet></router-outlet>
<body>
    <style>
        h3{text-shadow: 0.03em 0.08em 0.022em #4beaca, 0.12em 0.15em 0.022em gray; 
        color: aliceblue;
        font-size: 8ex;
        text-align: center;

    }
    </style>
  <div style="text-align:center;" >

    <nav class="navbar navbar-expand-lg" style="background-color: rgba(247, 159, 220, 0.986);">
      <div class="container">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">Home</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Photo
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Desing
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" color="Primary" href="" >Music</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLinkActive="" routerLink="/about">About</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" Contact></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </nav>
    
    

  </div> 
  

  
</body>