<app-navmenu></app-navmenu>
<router-outlet></router-outlet>
<style>
    .button {
    background-color: #4beaca; /* Green */
    border-radius: 5% 10% 5% 5%;
    border-width: 0.02ch;
    color: black;
    padding: 5px 22px;
    text-align: center;
    text-decoration:dashed;
    display: inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 2px 4px;
    cursor: pointer;
    box-shadow:0.53em 0.58em 0.022em #07392f;
    text-shadow:0.13em 0.08em 0.022em white;
}

.button1 {
    background-color: #f3d307; /* Green */
    border-radius: 5% 10% 5% 5%;
    border-width: 0.02ch;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration:dashed;
    display: inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    margin: 4px 4px;
    cursor: pointer;
    box-shadow:0.43em 0.48em 0.022em #07392f;
    text-shadow:0.13em 0.08em 0.022em white;
}
.imgman{
    padding: 16px 15px;
}

    h3{text-shadow: 0.03em 0.08em 0.022em #4beaca, 0.12em 0.15em 0.022em gray; 
        color: aliceblue;
        font-size: 8ex;
        text-align: center;

    }
</style>

    
    <div class="rounded float-end" style="background-color:  rgba(247, 159, 220, 0.986);" alt="..." >
        
        <img src="./assets/utomlive.JPG" class="rounded float-start" width="395" height="265" alt="...">
       
        <img src="./assets/liveutom.jpg" width="345" class="rounded float-end" alt="...">
        
        <img src="https://static.wixstatic.com/media/368ecd_71eacd763e14415babd550719d48b0bf~mv2_d_1440_1440_s_2.gif" width="345" class="rounded float-end" alt="...">
        <button class="button" style="text-shadow: #4beaca;">Aquí<br> Podras conocer <br> un poco mas de mi</button>
   
        <img class="imgman" src="https://static.wixstatic.com/media/368ecd_2faf393e024f4997a4226809ee285ee8~mv2.gif" width="35" class="rounded float-end" alt="...">
</div>
    <div class="rounded float-end" alt="...">        
        <button class="button" style="text-shadow: #4beaca;">Este es un <br> Boton de prueba</button>
 
    </div>


    